<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Sheba Yemeni Recipes</title>
</head>
<body>
<h1>Sheba Yemeni Recipes</h1>
	<div>
	   <table>
	       <tr>
	           <th>Description</th>
	           <th>Prep-Time</th>
	           <th>Cook-Time</th>
	       </tr>
	       <tr th:each="recipe : ${recipes}">
	           <td th:text="${recipe.description}">desc</td>
	           <td th:text="${recipe.prepTime}">2</td>
	           <td th:text="${recipe.cookTime}">2</td>
	       </tr>
	   </table>
	</div>
</body>
</html>